a {
  opacity: 0.8;
  cursor: not-allowed;
  text-decoration: none;
}

a[href] {
  opacity: 1;
  cursor: pointer;
}
.book-cover {
	text-align: center;
}
.book-description {
	width: 100%;
	height: 122px;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (min-width: 770px) {
	.book-cover {
		min-height: 170px;
		text-align: left;
	}
}